    <div class="htImpressionTracking background pt-2">
      <div class="cartHolder bigCart track timeAgo" data-vars-storyid="101731555184262" data-vars-orderid="1"
        data-vars-story-url="/india-news/rajasthan-bypolls-sdm-assaulted-stones-pelted-vehicles-torched-in-tonk-60-arrested-101731555184262.html"
        data-vars-cardtype="top-news" data-vars-storytype="story"
        data-weburl="https://www.hindustantimes.com/india-news/rajasthan-bypolls-sdm-assaulted-stones-pelted-vehicles-torched-in-tonk-60-arrested-101731555184262.html"
        data-vars-section="India News"
        data-vars-story-title="Rajasthan: SDM assaulted, stones pelted, vehicles torched in Tonk; 60 arrested"
        data-vars-story-time="14 Nov, 2024 10:42:28 AM" data-vars-mainsection="india news"> <a
          href="/india-news/rajasthan-bypolls-sdm-assaulted-stones-pelted-vehicles-torched-in-tonk-60-arrested-101731555184262.html"
          class="storyLink articleClick"></a>
        <h2 class="hdg3"> <a
            href="/india-news/rajasthan-bypolls-sdm-assaulted-stones-pelted-vehicles-torched-in-tonk-60-arrested-101731555184262.html"
            data-articleid="101731555184262"> Rajasthan: SDM assaulted, stones pelted, vehicles torched in Tonk; 60
            arrested</a></h2>
        <div class="actionDiv flexElm topTime" id="actionDivInlineStory-101731555184262">
          <div class="secName ftlsecName"><a href="/india-news">India News</a></div>
          <div class="dateTime secTime ftldateTime ">Updated 50 mins ago</div>
        </div>
        <h2 class="sortDec">According to Rajasthan police, the incident took place in Samravata village of Deoli-Uniyara
          during a protest by supporters of an independent candidate.</h2>
        <figure> <span> <a
              href="/india-news/rajasthan-bypolls-sdm-assaulted-stones-pelted-vehicles-torched-in-tonk-60-arrested-101731555184262.html"
              data-articleid="101731555184262"> <img
                src="https://www.hindustantimes.com/ht-img/img/2024/11/14/550x309/PTI11-14-2024-000002B-0_1731561012430_1731561123910.jpg"
                alt="Charred remains of vehicles after violence erupted outside a polling booth(PTI)"
                title="Charred remains of vehicles after violence erupted outside a polling booth(PTI)"> </a></span>
        </figure>
        <div class="storyShortDetail">
          <div class="actionDiv" style="display:none">
            <div id="new_socialIcons_inLineStory-101731555184262" class="new__socialIcons"></div>
          </div>
          <div class="stroyPub">
            <div class="storyBy"> <span class="authorBy">By</span><small class="byLineAuthor"><a
                  href="/author/ht-news-desk-101650005059496" class="authorNameClick"
                  data-vars-article-title="Rajasthan bypolls: SDM assaulted, stones pelted, vehicles torched in Tonk; 60 arrested"
                  data-vars-cta-text="HT News Desk" data-vars-article-id="101731555184262"
                  data-vars-article-category="india news" data-vars-published-date="Nov 14, 2024 10:57 AM IST">HT News
                  Desk</a></small> </div>
          </div>
        </div>
      </div>
      <div class="adHeight270 dHide topAdMweb" style="flex-wrap: wrap;">
        <div id="div-gpt-ad-1524814893923-0" style="align-self: center;">
          <script> if (isDeviceEnabled('small') || isDeviceEnabled('medium') && !adFree) { googletag.cmd.push(function () { googletag.display('div-gpt-ad-1524814893923-0'); }); } </script>
        </div>
      </div>
      <div class="cartHolder listView track timeAgo" data-vars-cardtype="top-news" data-vars-storyid="101731560182482"
        data-vars-storytype="story"
        data-weburl="https://www.hindustantimes.com/cities/delhi-news/delhi-airport-issues-advisory-as-thick-smog-engulfs-city-aqi-turns-severe-101731560182482.html"
        data-vars-story-url="/cities/delhi-news/delhi-airport-issues-advisory-as-thick-smog-engulfs-city-aqi-turns-severe-101731560182482.html"
        data-vars-story-title="Delhi Airport issues advisory as thick smog engulfs city, AQI turns ‘severe’"
        data-vars-story-time="14 Nov, 2024 11:02:45 AM" data-vars-section="Delhi" data-vars-mainsection="cities"
        data-vars-orderid="2"> <a
          href="/cities/delhi-news/delhi-airport-issues-advisory-as-thick-smog-engulfs-city-aqi-turns-severe-101731560182482.html"
          class="storyLink articleClick"></a>
        <h3 class="hdg3"><a
            href="/cities/delhi-news/delhi-airport-issues-advisory-as-thick-smog-engulfs-city-aqi-turns-severe-101731560182482.html"
            data-articleid="101731560182482">Delhi Airport issues advisory as thick smog engulfs city, AQI turns
            ‘severe’</a></h3>
        <h2 class="sortDec">Delhi Airport said that all flight operations are “currently normal” but urged passengers to
          contact their respective airlines for “updated flight information.”</h2>
        <figure> <span> <a
              href="/cities/delhi-news/delhi-airport-issues-advisory-as-thick-smog-engulfs-city-aqi-turns-severe-101731560182482.html"
              data-articleid="101731560182482"> <img
                src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/The-Indigo-flight-departed-from-Pune-airport-at-ar_1716405608941_1731560189375.jpg"
                class="lazy"
                data-src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/The-Indigo-flight-departed-from-Pune-airport-at-ar_1716405608941_1731560189375.jpg"
                title="On Wednesday, the dense fog caused visibility to drop significantly, with conditions at Delhi's airport reaching zero visibility. (Pic used for representation) (File)"
                alt="On Wednesday, the dense fog caused visibility to drop significantly, with conditions at Delhi's airport reaching zero visibility. (Pic used for representation) (File)"
                data-loaded="true"> </a></span> </figure>
        <div class="storyShortDetail">
          <div class="actionDiv flexElm" id="actionDivFTLBig-101731560182482">
            <div class="secName ftlsecName"><a href="/cities/delhi-news">Delhi</a></div>
            <div class="dateTime secTime ftldateTime ">Published 45 mins ago</div>
          </div>
          <div class="actionDiv" style="display:none">
            <div id="new_socialIcons_inLineStory-101731560182482" class="new__socialIcons"></div>
          </div>
          <div class="stroyPub">
            <div class="storyBy"> <span class="authorBy">By</span><small class="byLineAuthor"><a
                  href="/author/ht-news-desk-101650005059496" class="authorNameClick"
                  data-vars-article-title="Delhi Airport issues advisory as thick smog engulfs city, AQI turns ‘severe’"
                  data-vars-cta-text="HT News Desk" data-vars-article-id="101731560182482"
                  data-vars-article-category="cities" data-vars-published-date="Nov 14, 2024 11:02 AM IST">HT News
                  Desk</a></small> </div>
          </div>
        </div>
      </div>
      <div class="cartHolder listView track timeAgo" data-vars-cardtype="top-news" data-vars-storyid="101731552136220"
        data-vars-storytype="story"
        data-weburl="https://www.hindustantimes.com/india-news/wayanad-where-priyanka-gandhi-made-election-debut-sees-lowest-ever-voter-turnout-101731552136220.html"
        data-vars-story-url="/india-news/wayanad-where-priyanka-gandhi-made-election-debut-sees-lowest-ever-voter-turnout-101731552136220.html"
        data-vars-story-title="Wayanad, where Priyanka Gandhi made poll debut, sees lowest-ever voter turnout"
        data-vars-story-time="14 Nov, 2024 9:36:54 AM" data-vars-section="India News" data-vars-mainsection="india news"
        data-vars-orderid="3"> <a
          href="/india-news/wayanad-where-priyanka-gandhi-made-election-debut-sees-lowest-ever-voter-turnout-101731552136220.html"
          class="storyLink articleClick"></a>
        <h3 class="hdg3"><a
            href="/india-news/wayanad-where-priyanka-gandhi-made-election-debut-sees-lowest-ever-voter-turnout-101731552136220.html"
            data-articleid="101731552136220">Wayanad, where Priyanka Gandhi made poll debut, sees lowest-ever voter
            turnout</a></h3>
        <h2 class="sortDec">The polling in the constituency was held only months after Wayanad witnessed a landslide,
          which killed 231 persons and left 47 others still missing.</h2>
        <figure> <span> <a
              href="/india-news/wayanad-where-priyanka-gandhi-made-election-debut-sees-lowest-ever-voter-turnout-101731552136220.html"
              data-articleid="101731552136220"> <img
                src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/ANI-20241113426-0_1731554517518_1731554553853.jpg"
                class="lazy"
                data-src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/ANI-20241113426-0_1731554517518_1731554553853.jpg"
                title="Priyanka Gandhi Vadra visits a polling booth to meet voters for the by-elections, in Wayanad on Wednesday. (ANI)"
                alt="Priyanka Gandhi Vadra visits a polling booth to meet voters for the by-elections, in Wayanad on Wednesday. (ANI)"
                data-loaded="true"> </a></span> </figure>
        <div class="storyShortDetail">
          <div class="actionDiv flexElm" id="actionDivFTLBig-101731552136220">
            <div class="secName ftlsecName"><a href="/india-news">India News</a></div>
            <div class="dateTime secTime ftldateTime ">Updated 48 mins ago</div>
          </div>
          <div class="actionDiv" style="display:none">
            <div id="new_socialIcons_inLineStory-101731552136220" class="new__socialIcons"></div>
          </div>
          <div class="stroyPub">
            <div class="storyBy"> <span class="authorBy">By</span><small class="byLineAuthor"><a
                  href="/author/ht-news-desk-101650005059496" class="authorNameClick"
                  data-vars-article-title="Wayanad, where Priyanka Gandhi made election debut, sees lowest-ever voter turnout"
                  data-vars-cta-text="HT News Desk" data-vars-article-id="101731552136220"
                  data-vars-article-category="india news" data-vars-published-date="Nov 14, 2024 10:59 AM IST">HT News
                  Desk</a></small> </div>
          </div>
        </div>
      </div>
      <div class="cartHolder listView track timeAgo" data-vars-cardtype="top-news" data-vars-storyid="101731553158524"
        data-vars-storytype="story"
        data-weburl="https://www.hindustantimes.com/world-news/when-tulsi-gabbard-donald-trumps-new-pick-slammed-pakistan-army-over-atrocities-against-hindus-in-bangladesh-101731553158524.html"
        data-vars-story-url="/world-news/when-tulsi-gabbard-donald-trumps-new-pick-slammed-pakistan-army-over-atrocities-against-hindus-in-bangladesh-101731553158524.html"
        data-vars-story-title="When Tulsi Gabbard slammed Pakistan over atrocities against Hindus in Bangladesh"
        data-vars-story-time="14 Nov, 2024 9:47:15 AM" data-vars-section="World News" data-vars-mainsection="world news"
        data-vars-orderid="4"> <a
          href="/world-news/when-tulsi-gabbard-donald-trumps-new-pick-slammed-pakistan-army-over-atrocities-against-hindus-in-bangladesh-101731553158524.html"
          class="storyLink articleClick"></a>
        <h3 class="hdg3"><a
            href="/world-news/when-tulsi-gabbard-donald-trumps-new-pick-slammed-pakistan-army-over-atrocities-against-hindus-in-bangladesh-101731553158524.html"
            data-articleid="101731553158524">When Tulsi Gabbard slammed Pakistan over atrocities against Hindus in
            Bangladesh</a></h3>
        <h2 class="sortDec">Tulsi Gabbard, Trump's new addition to his cabinet, had previously condemned the atrocities
          against Hindus in Pakistan and Bangladesh.</h2>
        <figure> <span> <a
              href="/world-news/when-tulsi-gabbard-donald-trumps-new-pick-slammed-pakistan-army-over-atrocities-against-hindus-in-bangladesh-101731553158524.html"
              data-articleid="101731553158524"> <img
                src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/FILES-US-VOTE-POLITICS-TRUMP-GABBARD-0_1731553472679_1731553502101.jpg"
                class="lazy"
                data-src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/FILES-US-VOTE-POLITICS-TRUMP-GABBARD-0_1731553472679_1731553502101.jpg"
                title="US Congresswoman Tulsi Gabbard (Photo by Eric BARADAT / AFP)(AFP)"
                alt="US Congresswoman Tulsi Gabbard (Photo by Eric BARADAT / AFP)(AFP)" data-loaded="true"> </a></span>
        </figure>
        <div class="storyShortDetail">
          <div class="actionDiv flexElm" id="actionDivFTLBig-101731553158524">
            <div class="secName ftlsecName"><a href="/world-news">World News</a></div>
            <div class="dateTime secTime ftldateTime ">Published 2 hours ago</div>
          </div>
          <div class="actionDiv" style="display:none">
            <div id="new_socialIcons_inLineStory-101731553158524" class="new__socialIcons"></div>
          </div>
          <div class="stroyPub">
            <div class="storyBy"> <span class="authorBy">By</span><small class="byLineAuthor"><a
                  href="/author/ht-news-desk-101650005059496" class="authorNameClick"
                  data-vars-article-title="When Tulsi Gabbard, Donald Trumps new pick, slammed Pakistan Army over atrocities against Hindus in Bangladesh"
                  data-vars-cta-text="HT News Desk" data-vars-article-id="101731553158524"
                  data-vars-article-category="world news" data-vars-published-date="Nov 14, 2024 09:47 AM IST">HT News
                  Desk</a></small> | Edited by Vaishnawi Sinha </div>
          </div>
        </div>
      </div>
      <div class="cartHolder listView track timeAgo" data-vars-cardtype="top-news" data-vars-storyid="101731524472284"
        data-vars-storytype="story"
        data-weburl="https://www.hindustantimes.com/cities/mumbai-news/baba-siddique-murder-main-shooter-returned-to-murder-spot-visited-lilavati-hospital-to-confirm-death-101731524472284.html"
        data-vars-story-url="/cities/mumbai-news/baba-siddique-murder-main-shooter-returned-to-murder-spot-visited-lilavati-hospital-to-confirm-death-101731524472284.html"
        data-vars-story-title="Baba Siddique murder: Shooter visited Lilavati Hospital to confirm death"
        data-vars-story-time="14 Nov, 2024 12:31:11 AM" data-vars-section="Mumbai" data-vars-mainsection="cities"
        data-vars-orderid="5"> <a
          href="/cities/mumbai-news/baba-siddique-murder-main-shooter-returned-to-murder-spot-visited-lilavati-hospital-to-confirm-death-101731524472284.html"
          class="storyLink articleClick"></a>
        <h3 class="hdg3"><a
            href="/cities/mumbai-news/baba-siddique-murder-main-shooter-returned-to-murder-spot-visited-lilavati-hospital-to-confirm-death-101731524472284.html"
            data-articleid="101731524472284">Baba Siddique murder: Shooter visited Lilavati Hospital to confirm
            death</a></h3>
        <h2 class="sortDec">Shiv Kumar Gautam visited the spot of the firing in Bandra East after the crime and later
          went to Lilavati Hospital in Bandra West to confirm Siddique’s death</h2>
        <figure> <span> <a
              href="/cities/mumbai-news/baba-siddique-murder-main-shooter-returned-to-murder-spot-visited-lilavati-hospital-to-confirm-death-101731524472284.html"
              data-articleid="101731524472284"> <img
                src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/PTI11-10-2024-000304B-0_1731401270634_1731559707628.jpg"
                class="lazy"
                data-src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/PTI11-10-2024-000304B-0_1731401270634_1731559707628.jpg"
                title="This combo image shows shooter Shivkumar (L) with (Top, L-R) Anurag Kashyap, Akash Srivastava, (Bottom, L-R) Gyan Prakash Tripathi and Akhilendra Pratap Singh after being arrested in connection with NCP leader Baba Siddique murder case.(PTI)"
                alt="This combo image shows shooter Shivkumar (L) with (Top, L-R) Anurag Kashyap, Akash Srivastava, (Bottom, L-R) Gyan Prakash Tripathi and Akhilendra Pratap Singh after being arrested in connection with NCP leader Baba Siddique murder case.(PTI)"
                data-loaded="true"> </a></span> </figure>
        <div class="storyShortDetail">
          <div class="actionDiv flexElm" id="actionDivFTLBig-101731524472284">
            <div class="secName ftlsecName"><a href="/cities/mumbai-news">Mumbai</a></div>
            <div class="dateTime secTime ftldateTime ">Updated 1 hour ago</div>
          </div>
          <div class="actionDiv" style="display:none">
            <div id="new_socialIcons_inLineStory-101731524472284" class="new__socialIcons"></div>
          </div>
          <div class="stroyPub">
            <div class="storyBy"> <span class="authorBy">By</span>Vinay Dalvi </div>
          </div>
        </div>
      </div>
      
      <div class="cartHolder listView track timeAgo" data-vars-cardtype="top-news" data-vars-storyid="101731553903804"
        data-vars-storytype="story"
        data-weburl="https://www.hindustantimes.com/cricket/virat-kohli-first-hit-india-perth-net-session-fans-climb-trees-bring-ladders-catch-glimpse-border-gavaskar-trophy-101731553903804.html"
        data-vars-story-url="/cricket/virat-kohli-first-hit-india-perth-net-session-fans-climb-trees-bring-ladders-catch-glimpse-border-gavaskar-trophy-101731553903804.html"
        data-vars-story-title="Kohli's first hit in Perth; fans climb trees, bring ladders to catch a glimpse"
        data-vars-story-time="14 Nov, 2024 9:15:36 AM" data-vars-section="Cricket" data-vars-mainsection="cricket"
        data-vars-orderid="6"> <a
          href="/cricket/virat-kohli-first-hit-india-perth-net-session-fans-climb-trees-bring-ladders-catch-glimpse-border-gavaskar-trophy-101731553903804.html"
          class="storyLink articleClick"></a>
        <h3 class="hdg3"><a
            href="/cricket/virat-kohli-first-hit-india-perth-net-session-fans-climb-trees-bring-ladders-catch-glimpse-border-gavaskar-trophy-101731553903804.html"
            data-articleid="101731553903804">Kohli's first hit in Perth; fans climb trees, bring ladders to catch a
            glimpse</a></h3>
        <h2 class="sortDec">Virat Kohli fans climbed trees, few even brought their own ladders, to catch a glimpse of
          the superstar, who is possibly touring Australia for the last time</h2>
        <figure> <span> <a
              href="/cricket/virat-kohli-first-hit-india-perth-net-session-fans-climb-trees-bring-ladders-catch-glimpse-border-gavaskar-trophy-101731553903804.html"
              data-articleid="101731553903804"> <img src="https://images.hindustantimes.com/default/148x111.jpg"
                class="lazy"
                data-src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/PTI10-31-2024-000124A-0_1731553962178_1731553984748.jpg"
                title="India's Virat Kohli during a practice session (PTI)"
                alt="India's Virat Kohli during a practice session (PTI)"> </a></span> </figure>
        <div class="storyShortDetail">
          <div class="actionDiv flexElm" id="actionDivFTLBig-101731553903804">
            <div class="secName ftlsecName"><a href="/cricket">Cricket</a></div>
            <div class="dateTime secTime ftldateTime ">Updated 1 hour ago</div>
          </div>
          <div class="actionDiv" style="display:none">
            <div id="new_socialIcons_inLineStory-101731553903804" class="new__socialIcons"></div>
          </div>
          <div class="stroyPub">
            <div class="storyBy"> <span class="authorBy">By</span><small class="byLineAuthor"><a
                  href="/author/ht-sports-desk-101607439300849" class="authorNameClick"
                  data-vars-article-title="Virat Kohlis first hit at Indias Perth net session; fans climb trees, bring ladders to catch a glimpse"
                  data-vars-cta-text="HT Sports Desk" data-vars-article-id="101731553903804"
                  data-vars-article-category="cricket" data-vars-published-date="Nov 14, 2024 10:19 AM IST">HT Sports
                  Desk</a></small> </div>
          </div>
        </div>
      </div>
      <div class="cartHolder listView track timeAgo" data-vars-cardtype="top-news" data-vars-storyid="101731552621830"
        data-vars-storytype="story"
        data-weburl="https://www.hindustantimes.com/entertainment/tamil-cinema/kanguva-first-reviews-suriya-shed-his-blood-and-sweat-but-the-movie-is-tiring-say-fans-101731552621830.html"
        data-vars-story-url="/entertainment/tamil-cinema/kanguva-first-reviews-suriya-shed-his-blood-and-sweat-but-the-movie-is-tiring-say-fans-101731552621830.html"
        data-vars-story-title="Kanguva first reviews: Suriya carries a film that's clumsily executed, say fans"
        data-vars-story-time="14 Nov, 2024 9:11:08 AM" data-vars-section="Tamil Cinema"
        data-vars-mainsection="entertainment" data-vars-orderid="7"> <a
          href="/entertainment/tamil-cinema/kanguva-first-reviews-suriya-shed-his-blood-and-sweat-but-the-movie-is-tiring-say-fans-101731552621830.html"
          class="storyLink articleClick"></a>
        <h3 class="hdg3"><a
            href="/entertainment/tamil-cinema/kanguva-first-reviews-suriya-shed-his-blood-and-sweat-but-the-movie-is-tiring-say-fans-101731552621830.html"
            data-articleid="101731552621830">Kanguva first reviews: Suriya carries a film that's clumsily executed, say
            fans</a></h3>
        <h2 class="sortDec">Kanguva first reviews: Siva's Suriya, Bobby Deol, Disha Patani-starrer Kanguva released in
          theatres on November 14 and has gotten mixed reviews so far.</h2>
        <figure> <span> <a
              href="/entertainment/tamil-cinema/kanguva-first-reviews-suriya-shed-his-blood-and-sweat-but-the-movie-is-tiring-say-fans-101731552621830.html"
              data-articleid="101731552621830"> <img src="https://images.hindustantimes.com/default/148x111.jpg"
                class="lazy"
                data-src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/Kanguva_1731552777485_1731552805262.jpeg"
                title="Kanguva first reviews: Suriya's film has been getting mixed reviews from the audience."
                alt="Kanguva first reviews: Suriya's film has been getting mixed reviews from the audience.">
            </a></span> </figure>
        <div class="storyShortDetail">
          <div class="actionDiv flexElm" id="actionDivFTLBig-101731552621830">
            <div class="secName ftlsecName"><a href="/entertainment/tamil-cinema">Tamil Cinema</a></div>
            <div class="dateTime secTime ftldateTime ">Updated 2 hours ago</div>
          </div>
          <div class="actionDiv" style="display:none">
            <div id="new_socialIcons_inLineStory-101731552621830" class="new__socialIcons"></div>
          </div>
          <div class="stroyPub">
            <div class="storyBy"> <span class="authorBy">By</span><small class="byLineAuthor"><a
                  href="/author/ht-entertainment-desk-101608310311943" class="authorNameClick"
                  data-vars-article-title="Kanguva first reviews: Suriya ‘shed his blood and sweat’ but the movie ‘is tiring’, say fans"
                  data-vars-cta-text="HT Entertainment Desk" data-vars-article-id="101731552621830"
                  data-vars-article-category="entertainment" data-vars-published-date="Nov 14, 2024 09:12 AM IST">HT
                  Entertainment Desk</a></small> | Edited by <small class="byLineAuthor"><a
                  href="/author/neeshita-nyayapati-101700217617049" class="authorNameClick"
                  data-vars-article-title="Kanguva first reviews: Suriya ‘shed his blood and sweat’ but the movie ‘is tiring’, say fans"
                  data-vars-cta-text="HT Entertainment Desk" data-vars-article-id="101731552621830"
                  data-vars-article-category="entertainment"
                  data-vars-published-date="Nov 14, 2024 09:12 AM IST">Neeshita Nyayapati</a></small> </div>
          </div>
        </div>
      </div>
      <div class="cartHolder listView deadLink" data-vars-cardtype="top-news" data-vars-storyid="101731562521070"
        data-vars-storytype="deadlink"
        data-weburl="https://auto.hindustantimes.com/auto/cars/mahindra-thar-roxx-scores-5-star-rating-in-bharat-ncap-crash-test-41731560567013.html?utm_source=ht_site&amp;utm_medium=hp_top_news&amp;utm_campaign=hp_top_news"
        data-vars-orderid="8">
        <h3 class="hdg3"> <a
            href="https://auto.hindustantimes.com/auto/cars/mahindra-thar-roxx-scores-5-star-rating-in-bharat-ncap-crash-test-41731560567013.html?utm_source=ht_site&amp;utm_medium=hp_top_news&amp;utm_campaign=hp_top_news"
            rel="nofollow noreferrer noopener" target="_blank"> Mahindra Thar Roxx scores 5-star safety rating in Bharat
            NCAP crash test</a></h3>
        <figure><span> <a
              href="https://auto.hindustantimes.com/auto/cars/mahindra-thar-roxx-scores-5-star-rating-in-bharat-ncap-crash-test-41731560567013.html?utm_source=ht_site&amp;utm_medium=hp_top_news&amp;utm_campaign=hp_top_news"
              rel="nofollow noreferrer noopener" target="_blank"> <img
                src="https://www.hindustantimes.com/ht-img/img/2024/11/14/148x111/Mahindra_Thar_Roxx_crash_test_1_1731562535696_1731562542320.jpg"
                alt="Mahindra Thar Roxx scored 5 stars in Bharat NCAP crash test."
                title="Mahindra Thar Roxx scored 5 stars in Bharat NCAP crash test."> </a></span> </figure>
        <div class="storyShortDetail">
          <div class="actionDiv flexElm">
            <div class="dateTime secTime ftldateTime">Published 42 mins ago</div>
          </div>
        </div>
      </div>
    </div>
  